---
layout: default
title: A Handbook of Rhetorical Devices
pagination: 
  enabled: true
  per_page: 7
---

<div class="introduction">
  <p>This book contains definitions and examples of more than sixty traditional rhetorical devices, (including rhetorical tropes and rhetorical figures) all of which can still be useful today to improve the effectiveness, clarity, and enjoyment of your writing. Note: This book was written in 1980, with some changes since. The devices presented are not in alphabetical order. To go directly to the discussion of a particular device, click on the name below. If you know these already, go directly to the <a href="selftest.html">Self Test</a>. To learn about my book, <em>Writing with Clarity and Style</em>, see the <a href="https://virtualsalt.com/wcsad.htm">Advertisement</a>.</p>
</div>

<hr>

<!-- {% include table.html %} -->

{% for item in paginator.posts %}
  <div class="figure__content">
    {{ item.content }}
  </div>
  <div class="figure__separator">***</div>
{% endfor %}

{% include pagination.html %}
