<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous Page
    </a>
  {% else %}
    <span class="pagination__impossible">Previous Page</span>
  {% endif %}
  <span class="page_number ">
    {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next Page</a>
  {% else %}
    <span class="pagination__impossible">Next Page</span>
  {% endif %}
</div>