<table border="1" cols="6" width="100%">
  <tbody>
    <tr>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Alliteration">Alliteration</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric2.htm#Antithesis">Antithesis</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Climax">Climax</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Epizeuxis">Epizeuxis</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric4.htm#Metanoia">Metanoia</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric.htm#Polysyndeton">Polysyndeton</a></font></td>
    </tr>
    <tr>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric5.htm#Allusion">Allusion</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric4.htm#Apophasis">Apophasis</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric3.htm#Conduplicatio">Conduplicatio</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric5.htm#Eponym">Eponym</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric5.htm#Metaphor">Metaphor</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric3.htm#Procatalepsis">Procatalepsis</a></font></td>
    </tr>
    <tr>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric3.htm#Amplification">Amplification</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric4.htm#Aporia">Aporia</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Diacope">Diacope</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Exemplum">Exemplum</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric5.htm#Metonymy">Metonymy</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric3.htm#Rhetorical">Rhetorical Question</a></font></td>
    </tr>
    <tr>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Anacoluthon">Anacoluthon</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Aposiopesis">Aposiopesis</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Dirimens">Dirimens
Copulatio</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric.htm#Sentential">Sentential
Adverb</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Onomatopoeia">Onomatopoeia</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric3.htm#Scesis">Scesis
Onomaton</a></font></td>
    </tr>
    <tr>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric2.htm#Anadiplosis">Anadiplosis</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Apostrophe">Apostrophe</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric3.htm#Distinctio">Distinctio</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Hyperbaton">Hyperbaton</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric5.htm#Oxymoron">Oxymoron</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Sententia">Sententia</a></font></td>
    </tr>
    <tr>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric4.htm#Analogy">Analogy</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Appositive">Appositive</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Enthymeme">Enthymeme</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric5.htm#Hyperbole">Hyperbole</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric2.htm#Parallelism">Parallelism</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric4.htm#Simile">Simile</a></font></td>
    </tr>
    <tr>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric2.htm#Anaphora">Anaphora</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Assonance">Assonance</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Enumeratio">Enumeratio</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric3.htm#Hypophora">Hypophora</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Parataxis">Parataxis</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Symploce">Symploce</a></font></td>
    </tr>
    <tr>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Antanagoge">Antanagoge</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric.htm#Asyndeton">Asyndeton</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric3.htm#Epanalepsis">Epanalepsis</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Hypotaxis">Hypotaxis</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Parenthesis">Parenthesis</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric5.htm#Synecdoche">Synecdoche</a></font></td>
    </tr>
    <tr>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Antimetabole">Antimetabole</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric5.htm#Catachresis">Catachresis</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric2.htm#Epistrophe">Epistrophe</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric.htm#Litotes">Litotes</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric5.htm#Personification">Personification</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric.htm#Understatement">Understatement</a></font></td>
    </tr>
    <tr>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Antiphrasis">Antiphrasis</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric2.htm#Chiasmus">Chiasmus</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Epithet">Epithet</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric3.htm#Metabasis">Metabasis</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric6.htm#Pleonasm">Pleonasm</a></font></td>
      <td style="font-family: Verdana;"><font size="-1"><a href="rhetoric2.htm#Zeugma">Zeugma</a></font></td>
    </tr>
  </tbody>
</table>