.list-of-devices {
  .sidebar-item { padding-bottom: .5rem; }
  .sidebar-nav-item { border: none; }
}

.introduction {
  font-size: smaller;
}

.pagination {
  text-align: center;
  font-size: smaller;
  
  &__impossible { visibility: hidden; }
}

.figure {
  &__content {
    color: black;
    
    ul { list-style: disc; }
  }
  
  &__separator {
    line-height: 4rem;
    
    color: #eee;
    
    font-size: 25px;
    letter-spacing: 20px;
    text-align: center;
  }
}