.introduction {
  font-size: smaller;
}

.pagination {
  text-align: center;
  font-size: smaller;
  
  &__impossible { visibility: hidden; }
}

.figure {
  &__content {
    color: black;
    
    ul { list-style: disc; }
  }
}